---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 20 }} <a href="{{ site.github.url }}{{ post.url }}">Leer más</a>
    
  </p>
</div>
{% endfor %}

<!-- Pagination links -->

